<h1> Bibliothèque Universitaire </h1>

<li> Horaire
<ul> lundi :9H00 - 12H00 / 14H00 - 18h00 </ul>
<ul> mardi :9H00 - 12H00 / 14H00 - 18h00 </ul>
<ul> mercredi :9H00 - 12H00 / 14H00 - 18h00 </ul>
<ul> jeudi :9H00 - 12H00 / 14H00 - 18h00 </ul>
<ul> vendredi :9H00 - 12H00 /  14H00 - 18h00 </ul>
<ul> samedi :10H00 - 12H00 / 14H00 - 18h00 </ul>
<ul> dimanche :9H00 - 12H00 </ul>
</li>

<div> nombre de livre : {{livre}} </div>

<a href="/catalogue">catalogue</a>