<body>
    <h1>livre:</h1>
    {% for livre in livres %}
        <li>
            {{ livre.titre }} ==> <a href="/livre/{{ livre.id }}">détails</a>
        </li>
    {% endfor %}
    <a href="/">
        accueil
    </a>

